input[type="submit"] {
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .8em .9em .6em;
  background-color: $color-azul;
  border:0 none;
  cursor:pointer;
  border-radius: $border-radius-base;
  &:hover, &:focus {
    background-color: $gray-dark;
    color: white;
    outline: none;
  }
}
