

// Resetear input focus

textarea:focus,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
.uneditable-input {
  border: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
  font-family: $font-family-base;
  font-weight: 100;
  padding: .5em;
  &:focus {
    border: none !important;
    box-shadow: none !important;
    outline: 0 none !important;
  }
}

// Contact form

.wpcf7-response-output {
  border: none !important;
  background-color: $color-allo;
  border-radius: $border-radius-base;
  padding: $pad !important;
  text-align: center;
  font-weight: 500;
}

div.wpcf7-mail-sent-ok {

}

.wpcf7-form .wpcf7-not-valid-tip {
  background-color: $color-allo;
  color: $color-rojo;
  margin-top: 5px;
}

div.wpcf7-validation-errors {
  background-color: $color-rojo;
  color: white;

}
