.main {
  *:first-child {
    margin-top: 0;
  }
}

.columna {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@include for-tablet-landscape-up {
  .wrap {
    margin-top: 75px;
    .home &,  {
      margin-top: 385px;
    }
  }
}
