.search-results {
  .page-header {
    background-color: white;
    padding: $pad;
    border-bottom: $border;
    h1 {
      font-weight: 300;
    }
  }
  article {
    border-bottom: $border;
    .columna {
      display: flex;
      justify-content: space-between;
      .los-datos {
        aside {
          display: inline-block;
          margin-bottom: calc(#{$pad} / 2);
          padding: .5em .8em .3em;
          background-color: white;
          font-size: .8rem;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: .1em;
          border-bottom: $border;
        }
        padding: 0 $pad $pad;
        header {
          h2 {
            font-weight: 500;
            margin-bottom: 0;
          }
          ul {
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 0;
            list-style-type: none;
            font-size: .8rem;
            text-transform: uppercase;
            letter-spacing: .03em;
            &.cliente {
              font-weight: 700;
            }
          }
          time {
            display: block;
            font-size: .8rem;
            text-transform: uppercase;
            letter-spacing: .03em;
          }
        }
        .entry-summary {
          margin-top: calc(#{$pad} / 2);
          p {
            font-size: .9rem;
          }
        }
      }
    }
    .la-imagen {
      width: 200px;
      flex-shrink: 0;
      background-color: white;
      img {
        @include img-responsive;
      }
    }
  }
  @include for-phone-only {
    article .columna {
      flex-wrap: wrap;
      .los-datos {
        width: 100%;
        .entry-summary p:last-child {
          margin-bottom: 0;
        }
      }
    }
    article .columna {
      .la-imagen {
        width: 100%;
        padding: $pad;
      }
    }
  }
  @include for-tablet-portrait-up {
    article .columna {
      flex-wrap: nowrap;
      .los-datos {
        width: auto;
      }
    }
    article .columna {
      .la-imagen {
        width: 200px;
        padding: $pad;
      }
    }
  }
  @include for-tablet-landscape-up {
    article .columna {
      .los-datos {
        padding-left: 0;
      }
    }
    article .columna {
      .la-imagen {
        width: 300px;
        padding: $pad;
      }
    }
  }
}
