.tax-clientes {
  .main {
    margin-right: $pad;
    margin-left: $pad;
    .page-header {
      margin-left: -$pad;
      margin-right: -$pad;
      margin-bottom: $pad;
      padding: $pad $pad 0 $pad;
      background-color: white;
      border-bottom: $border;
      .cabecera {
        display: flex;
        h1 {
          margin-top: 0;
          margin-left: calc(#{$pad} / 2);
          font-size: 1.5rem;
          font-weight: 400;
          text-transform: uppercase;
        }
        .img-logo {
          width: 200px;
          line-height: 0;
          img {
            padding: calc(#{$pad} / 2);
            border-right: $border;
            border-left: $border;
            @include img-responsive;
          }
        }
      }
    }
    .articulos {
      display: flex;
      flex-wrap: wrap;
      article {
        display: block;
        width: calc(100% / 2);
        flex-basis: calc(100% / 2);
        padding: calc(#{$pad} / 2);
        background-color: white;
        border-left: $border;
        margin-bottom: calc(#{$pad} / 2);
        header {
          display: block;
          h2 {
            margin-top: calc(#{$pad} / 3);
            display: block;
            font-size: 1.3rem;
            font-weight: 500;
          }
          .servicios {
            display: block;
            width: 100%;
            padding-left: 0;
            list-style-type: none;
            font-size: .6rem;
            text-transform: uppercase;
            margin-bottom: 0;
            li {
              a {
              }
            }
          }
          time {
            display: block;
            margin-top: 0;
            margin-bottom: calc(#{$pad} / 2);
            font-size: .6rem;
            text-transform: uppercase;
          }
        }
        .imagen {
          display: block;
          img {
            @include img-responsive;
          }
        }
        .entry-summary {
          display: block;
          margin-top: calc(#{$pad} /2 );
          font-size: .8rem;
        }
        &:nth-child(2n) {
          border-right: $border;
        }
        &:last-child {
          border-right: $border !important;
        }
      }
    }
  }
}

@include for-tablet-portrait-up {
  .tax-clientes .main .articulos article {
    flex-basis: 33.333333%;
    &:nth-child(2n) {
      border-right: none;
    }
    &:nth-child(3n) {
      border-right: $border;
    }
  }
}
@include for-tablet-landscape-up {
  .tax-clientes .main .articulos article {
    width: 25%;
    flex-basis: 25%;
    &:nth-child(3n) {
      border-right: none;
    }
    &:nth-child(4n) {
      border-right: $border;
    }
  }
}
@include for-desktop-up {
  .tax-clientes .main .articulos article {
    width: 20%;
    flex-basis: 20%;
    &:nth-child(4n) {
      border-right: none;
    }
    &:nth-child(5n) {
      border-right: $border;
    }
  }
}
@include for-big-desktop-up {
  .tax-clientes .main .articulos article {
    width: 16.666666%;
    flex-basis: 16.666666%;
    &:nth-child(5n) {
      border-right: none;
    }
    &:nth-child(6n) {
      border-right: $border;
    }
  }
}
