.clientes {
  .main {
    padding: $pad;
  }
  .columna {
    display: flex;
    flex-wrap: wrap;
    a[role="article"] {
      position: relative;
      flex-basis: calc(50% - #{$pad});
      margin-right: calc(#{$pad} / 2);
      margin-left: calc(#{$pad} / 2);
      padding: calc(#{$pad} / 2);
      margin-bottom: $pad;
      background-color: white;
      border-left: $border;
      border-right: $border;
      h3 {
        position: relative;
        font-size: .8rem;
        font-weight: 400;
        text-transform: uppercase;
        z-index: 100;
      }
      img {
        @include img-responsive;
      }
      .mask {
        background-color: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: background-color 1s;
      }
      &:hover {
        .mask {
          background-color: $color-allo;
          transition: background-color .5s;
        }
      }
    }
  }
  @include for-tablet-portrait-up {
    .columna {
      a[role="article"] {
        flex-basis: calc(33.3333% - #{$pad});
      }
    }
  }
  @include for-tablet-landscape-up {
    .columna {
      a[role="article"] {
        flex-basis: calc(25% - #{$pad});
      }
    }
  }
}
