.contacto {
  .main {
    padding: $pad $pad 0;
    .wpcf7 {
      label {
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 0.03em;
      }
      input[type="color"],
      input[type="date"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="email"],
      input[type="month"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="text"],
      input[type="time"],
      input[type="url"],
      input[type="week"],
      textarea,
      textarea:focus {
        padding: calc(#{$pad}/ 2);
        font-size: 1.3rem;
        border-left: $border !important;
        border-right: $border !important;
        width: 100%;
      }
    }
  }
  #map {
    background: white;
    height: 500px;
    width: 100vw;
    margin-left: -$pad;
    .infowindow {
      h1 {
        font-size: 1.5rem;
      }
      p {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}
