footer {
  color: white;
  background-color: $gray-dark;
  font-weight: 100;
  padding-top: $pad;
  .container {
    display: flex;
    justify-content: center;
    section {
      border-right: 1px solid $gray-darker;
      padding-right: $pad;
      padding-left: $pad;
      &:last-of-type {
        border-right: none;
      }
      ul {
        margin-top: 15px;
      }
      &.social {
        li {
          font-size: 24px;
        }
      }
      p {
        color: $gray-light;
        font-weight: 100;
        font-size: 0.8rem;
        margin-bottom: 5px;
        margin-top: 3px;
        &:first-of-type {
          margin-top: 16px;
        }
      }
    }
  }
  .container-mini {
    margin-top: $pad;
    background-color: $gray-darker;
    padding: 1px $pad;
    p {
      font-size: 0.6rem;
      text-transform: uppercase;
      text-align: center;
      a:hover {
        color: white;
      }
    }
  }
  h3 {
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      font-size: 0.8rem;
      line-height: 1.4em;
      a {
        &:link,
        &:visited {
          color: $gray-light;
        }
        &:hover {
          color: $gray-lighter;
        }
      }
    }
  }
}
@include for-phone-only {
  footer {
    .container {
      flex-wrap: wrap;
    }
  }
}
