.owl-carousel {
  background-color: $gray-darker;
  .owl-item {
    a {
      display: block;
      color: $gray-light-semi;
      .cont-imagen {
        position: relative;
      }
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 1099;
      }
      .resumen {
        position: absolute;
        height: calc(100% - #{$pad * 4});
        padding: $pad;
        margin: calc(#{$pad * 2});
        border: 1px solid white;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 1100;
        p {
          color: #fff;
          font-weight: 200;
          font-size: 1rem;
          letter-spacing: 0.01em;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      h1 {
        padding: calc(#{$pad / 2});
        font-weight: 400;
      }
      img {
        height: auto;
      }
      &:hover {
        color: white;
        .mask {
          opacity: 0.4;
          transition: opacity 0.3s;
        }
        .resumen {
          opacity: 1;
          transition: opacity 0.3s;
        }
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}
.noticias-destacadas {
  display: flex;
  flex-wrap: wrap;
  a {
    width: 100%;
    h1 {
      font-weight: 400;
      font-size: 1.3rem;
      color: $gray-dark;
      margin: #{$pad / 2} #{$pad / 2} $pad;
    }
    img {
      @include img-responsive;
      display: block;
    }
    .cont-imagen {
      position: relative;
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: opacity 0.3s;
      }
      .trabajo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        padding: #{$pad / 2};
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        opacity: 0;
        transition: opacity 0.3s;
        p {
          color: white;
          font-size: 0.8rem;
        }
      }
    }
    &:hover .cont-imagen {
      .mask {
        opacity: 0.4;
        transition: opacity 0.3s;
      }
      .trabajo {
        opacity: 1;
        transition: opacity 0.3s;
      }
      img {
        filter: grayscale(100%);
      }
    }
  }
}
@include for-tablet-portrait-up {
  .noticias-destacadas {
    a {
      width: 50%;
    }
  }
}
@include for-tablet-landscape-up {
  .noticias-destacadas {
    a {
      width: 33.333%;
      &:nth-child(10) {
        display: none;
      }
    }
  }
}
@include for-desktop-up {
  .noticias-destacadas {
    a {
      width: 25%;
      &:nth-child(9) {
        display: none;
      }
    }
  }
}
@include for-big-desktop-up {
  .noticias-destacadas {
    a {
      width: 20%;
      &:nth-child(10),
      &:nth-child(9) {
        display: block;
      }
    }
  }
}
