$trans: 0.3s;
.banner,
.home .banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  background-color: $color-allo;
  background-image: radial-gradient(circle farthest-side at 26% 50%, #FCF63C 15%, #FCF53C 20%, #F8B51C 100%);
  transition: height $trans;
  z-index: 1000;
  .nav-sec {
    flex-shrink: 0;
    height: 75px;
    width: 100vw;
    transition: width 0.3s;
    border-bottom: 1px solid $gray-dark;
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        height: 75px;
        border-left: 1px solid $gray-dark;
        font-size: 32px;
        &:first-child {
          border-left: none;
        }
        &.ham {
          padding-top: 15px;
          padding-left: 15px;
        }
        &.social {
          padding-right: 20px;
        }
        &.buscar {
          a {
            appearance: none;
          }
        }
        &.buscar,
        &.contacto {
          a {
            height: 75px;
            width: 70px;
            &:hover {
              background-color: white;
              color: $gray-dark;
            }
          }
        }
        a {
          display: inline-block;
          height: calc(100% - 1px);
          color: $gray-dark;
          text-align: center;
          padding-top: 22px;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .hamb {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 5000;
    span {
      i {
        width: 30px;
        height: 5px;
        background: $gray-dark;
        position: absolute;
        left: 25%;
        @include radius(2px);
      }
    }
    .spanf {
      &:nth-child(1) i {
        top: 20%;
        transition: transform 0.3s, top 0.3s;
      }
    }
    .spans {
      &:nth-child(2) i {
        top: 40%;
        transition: opacity 0.3s;
      }
    }
    .spant {
      &:nth-child(3) i {
        top: 60%;
        transition: transform 0.3s, top 0.3s;
      }
    }
    .span1:nth-child(1) i {
      top: 40% !important;
      transform: rotate(45deg);
      transition: transform 0.3s, top 0.3s;
    }
    .span2:nth-child(2) i {
      opacity: 0;
      transition: opacity 0.3s;
    }
    .span3:nth-child(3) i {
      top: 40% !important;
      transform: rotate(-45deg);
      transition: transform 0.3s, top 0.3s;
    }
  }
  .menu {
    position: fixed;
    left: -100vw;
    top: 0;
    margin: 0;
    padding: 100px $pad $pad;
    height: 100vh;
    width: 100vw;
    transition: left 0.3s;
    background-color: $gray-lighter;
    list-style-type: none;
    z-index: 100;
    li {
      font-size: 1rem;
      font-weight: 700;
      padding: 5px 10px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      a {
        color: $gray-dark;
        &:hover {
          color: white;
        }
      }
    }
    &.active {
      left: 0;
    }
  }
  .busquedas {
    position: fixed;
    left: -100vw;
    top: 0;
    margin: 0;
    padding: 100px $pad $pad;
    height: 100vh;
    width: 100vw;
    transition: left 0.3s;
    background-color: $gray-lighter;
    list-style-type: none;
    z-index: 5001;
    &.active {
      left: 0;
    }
    .s-cerrar-1 {
      cursor: pointer;
      position: absolute;
      right: 50px;
      font-size: 32px;
      color: $gray-dark;
      &:hover {
        color: $color-azul;
      }
    }
    label {
      .search-field {
        display: block;
        margin: 50px auto 20px;
        width: 100%;
        max-width: 400px;
      }
    }
    input[type="submit"] {
      display: block;
      margin: 0 auto;
    }
  }
  .brand {
    display: flex;
    padding: 50px 0;
    .logo {
      .logo-simbolo {
        height: 100px;
        transition: transform 0.3s, height $trans;
      }
      .logo-tipo {
        height: 100px;
        transition: height $trans;
      }
    }
    p {
      position: relative;
      margin-top: 10px;
      margin-bottom: 0;
      color: white;
      font-weight: 700;
      letter-spacing: 0.3em;
    }
    &:hover {
      .logo-simbolo {
        transform: rotate(180deg);
        transition: transform 0.3s;
      }
    }
  }
}
@include for-tablet-landscape-up {
  .banner,
  .banner.peq {
    position: fixed;
    top: 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-image: radial-gradient(circle farthest-side at 16% 50%, #FCF63C 15%, #FCF53C 20%, #F8B51C 100%);
    .nav-sec {
      order: 2;
      width: auto;
      border-bottom: none;
      ul {
        li {
          display: flex;
          justify-content: center;
          &.social {
            padding-left: 20px;
            padding-right: 20px;
          }
          &.ham {
            display: none;
          }
          &.contacto {
            border-right: 1px solid $gray-dark;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0;
            font-size: 25px;
          }
        }
      }
    }
    .nav-prin {
      flex-grow: 1;
      order: 3;
      width: calc(100vw - 500px);
      .menu,
      .menu.active {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        left: auto;
        top: auto;
        margin: 0;
        padding: 0;
        height: 75px;
        width: 100%;
        background-image: none;
        background-color: transparent;
        text-align: center;
        li {
          font-size: 0.8rem;
        }
      }
    }
    .brand {
      order: 1;
      width: 165px;
      height: 75px;
      padding-top: 17px;
      padding-bottom: 0;
      padding-left: 20px;
      border-right: 1px solid $gray-dark;
      .logo {
        height: 30px;
        .logosimbolo {
          height: 30px;
          .logo-simbolo {
            height: 30px;
          }
          .logo-tipo {
            height: 30px;
          }
        }
      }
      p {
        left: 0;
        margin-top: 0.5em;
        font-size: 0.7rem;
        color: $gray-dark;
        letter-spacing: 0.25em;
      }
      &:hover {
        .logo-simbolo {
          transform: rotate(180deg);
          transition: transform 0.3s;
        }
      }
    }
    .home & {
      // PORTADA GRANDE
      height: 385px;
      transition: height $trans;
      .nav-sec {
        order: 1;
        ul li.contacto {
          border-right: none;
        }
        ul li {
          &.buscar,
          &.contacto {
            a {
              &:hover {
                border-bottom: 1px solid $gray-dark;
              }
            }
          }
        }
      }
      .brand {
        justify-content: center;
        order: 2;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        height: auto;
        border-right: none;
        transition: width $trans;
        .logo {
          width: 400px;
          transition: width $trans;
          .logosimbolo {
            height: auto;
            .logo-simbolo {
              height: 100px;
              transition: transform 0.3s, height 0.3s;
            }
            .logo-tipo {
              height: 100px;
              transition: height $trans;
            }
          }
          p {
            display: block;
            left: 80px;
            font-size: 1.3rem;
          }
        }
        &:hover {
          .logo-simbolo {
            transform: rotate(180deg);
            transition: transform 0.3s;
          }
        }
      }
      .nav-prin {
        .menu-menu-1-container {
          .menu {
            li {}
          }
        }
      }
      &.peq {
        // NAV PORTADA ENCOGIDA (SCROLL)
        height: 75px;
        transition: height $trans;
        .nav-sec {
          order: 2;
          border-right: 1px solid $gray-dark;
          ul li {
            &.buscar,
            &.contacto {
              a {
                &:hover {
                  border-bottom: none;
                }
              }
            }
          }
        }
        .brand {
          justify-content: flex-start;
          order: 1;
          width: 165px;
          height: 75px;
          padding-top: 17px;
          padding-bottom: 0;
          padding-left: 20px;
          border-right: 1px solid $gray-dark;
          transition: width $trans;
          .logo {
            height: 30px;
            transition: width $trans;
            .logosimbolo {
              height: 30px;
              .logo-simbolo {
                height: 30px;
                transition: transform 0.3s, height $trans;
              }
              .logo-tipo {
                height: 30px;
                transition: height $trans;
              }
            }
          }
          p {
            left: 0;
            margin-top: 0.5em;
            font-size: 0.7rem;
            color: $gray-dark;
            letter-spacing: 0.25em;
            transition: left $trans, font-size $trans, color $trans;
          }
        }
        .nav-prin {}
      }
    }
  }
};
.fake {
  width: 100%;
  height: 5000px;
}
@include for-phone-only {
  .banner,
  .home .banner {
    .nav-sec {
      ul {
        li {
          &.social {
            padding-right: 10px;
          }
          &.buscar {
            a {
              width: 50px;
            }
          }
          &.contacto {
            a {
              width: 50px;
            }
          }
        }
      }
    }
    .brand {
      .logo {
        .logo-simbolo {
          height: 50px;
        }
        .logo-tipo {
          height: 50px;
        }
      }
      p {
        left: 0;
      }
    }
  }
}
