.noticias {
  .main {
    padding: 0 $pad $pad;
    .page-header {
      width: calc(100% + #{$pad} * 2);
      margin-left: -$pad;
      margin-bottom: $pad;
      text-align: center;
      background-color: white;
      border-bottom: $border;
      padding: $pad;
      .enlace {
        position: relative;
        display: block;
        height: 170px;
        color: $gray-dark;
        transition: color 0.5s;
        .icono {
          position: relative;
          margin-left: auto;
          margin-right: auto;
          width: 128px;
          line-height: 128px;
          i {
            position: absolute;
            left: 0;
            font-size: 128px;
            &.s-z-der {
              color: $color-allo;
            }
            &.s-z-izq {
              color: $gray-lighter;
            }
            &.s-z-der,
            &.s-z-izq {
              transform: rotate(0deg);
              transform-origin: center 42%;
              transition: transform 0.5s;
            }
          }
        }
        h1 {
          position: absolute;
          left: calc(50% - 105px);
          top: 100px;
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 100;
        }
        &:hover {
          color: $gray-light;
          transition: color 0.5s;
          .icono i {
            &.s-z-der,
            &.s-z-izq {
              transform: rotate(180deg);
              transform-origin: center 42%;
              transition: transform 0.5s;
            }
          }
        }
      }
    }
    .columna {
      display: flex;
      flex-wrap: wrap;
      article {
        flex-basis: 50%;
        background-color: white;
        padding: $pad calc(#{$pad} / 3);
        border-left: $border;
        &:nth-child(2n) {
          border-right: $border;
        }
        &:last-of-type {
          border-right: $border !important;
        }
        &:nth-child(2n + 1):last-child {
          flex-basis: calc(50% + 1px);
        }
        header {
          h2 {
            font-weight: 500;
          }
          .cliente {
            padding-left: 0;
            list-style-type: none;
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 0;
          }
          time {
            display: block;
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: $pad;
          }
          .imagen {
            margin-bottom: $pad;
            img {
              @include img-responsive;
            }
          }
        }
        .entry-summary {}
      }
    }
    ul.nav {
      margin-top: calc(#{$pad} / 2);
    }
  }
}
@include for-phone-only {
  .noticias .main {
    .columna article {
      flex-basis: 100%;
      border-right: $border;
      header {
        h2 {
          font-size: 1.2rem;
        }
        time {
          font-size: 0.6rem;
        }
      }
    }
  }
}
@include for-tablet-landscape-up {
  .noticias .main .columna article {
    flex-basis: 33.333%;
    max-width: 33.333%;
    &:nth-child(2n) {
      border-right: none;
    }
    &:nth-child(3n) {
      border-right: $border;
    }
    &:nth-child(3n + 1):last-child,
    &:nth-child(3n + 2):last-child {
      flex-basis: calc(33.333% + 1px);
    }
  }
}
