.single-noticia {
  .main {
    padding: 0 $pad $pad;
    article {
      header {
        margin-left: -$pad;
        margin-bottom: calc(#{$pad} / 2);
        padding: $pad;
        width: calc(100% + #{$pad} * 2);
        background-color: white;
        border-bottom: $border;
        text-align: center;
        .enlace {
          position: static;
          display: block;
          height: 150px;
          color: $gray-dark;
          transition: color 0.5s;
          .icono {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 128px;
            line-height: 128px;
            transition: color 0.5s;
            i {
              position: absolute;
              left: 0;
              font-size: 128px;
              &.s-z-der {
                color: $color-allo;
              }
              &.s-z-izq {
                color: $gray-lighter;
              }
              &.s-z-der,
              &.s-z-izq {
                transform: rotate(0deg);
                transform-origin: center 42%;
                transition: transform 0.5s;
              }
            }
            &:hover {
              color: $gray-light;
              transition: color 0.5s;
              i {
                &.s-z-der,
                &.s-z-izq {
                  transform: rotate(180deg);
                  transform-origin: center 42%;
                  transition: transform 0.5s;
                }
              }
            }
          }
        }
        h1 {
          margin-top: 0;
          font-size: 3rem;
          font-weight: 100;
        }
        .cliente {
          padding-left: 0;
          list-style-type: none;
          margin-bottom: 0;
        }
        .cliente,
        time {
          text-transform: uppercase;
        }
      }
      .imagen {
        margin-left: -$pad;
        padding-bottom: calc(#{$pad} / 2);
        width: calc(100% + #{$pad} * 2);
        border-bottom: $border;
        img {
          height: auto;
        }
      }
      .entry-content,
      .excerpt {
        margin-left: -$pad;
        padding: 10px $pad;
        width: calc(100% + #{$pad} * 2);
        border-bottom: 1px solid $gray-light;
      }
      .entry-content {
        padding-top: calc(#{$pad} * 2);
        padding-bottom: calc(#{$pad} * 2);
      }
      .excerpt {
        .columna {
          padding: calc(#{$pad} * 2);
          color: $gray-light-semi;
          font-size: 1.5rem;
          font-weight: 100;
          font-style: italic;
        }
      }
    }
  }
}
@include for-phone-only {
  .single-noticia .main article header h1 {
    font-size: 2rem;
  }
}
@include for-tablet-portrait-up {}
@include for-tablet-landscape-up {}
