.politica-de-privacidad {
  .content {
    background-color: #fff;

    .main {
      max-width: 600px;
      padding: $pad;
      margin-left: auto;
      margin-right: auto;

      h1, h2, h3 {
        font-weight: normal;
      }
    }
  }
}
