.servicios {
  .main {
    padding: $pad;
  }
  .contenido {
    display: flex;
    flex-wrap: wrap;
    article {
      position: relative;
      flex-basis: 50%;
      padding: calc(#{$pad} / 2);
      margin-bottom: calc(#{$pad} / 2);
      background-color: white;
      border-left: $border;
      &:nth-child(2n) {
        border-right: $border;
      }
      &:last-child {
        border-right: $border !important;
      }
      h3 {
        position: relative;
        font-size: 1.3rem;
        font-weight: 100;
        text-transform: uppercase;
      }
      p {
        font-size: 0.8rem;
      }
      ul {
        padding-left: 0;
        list-style-type: none;
        li {
          font-size: 0.8rem;
          padding-top: 5px;
          padding-bottom: 3px;
          border-top: $border;
          &.ver-todos {
            text-transform: uppercase;
            span {
              font-size: 1.5em;
              line-height: 0.8rem;
              vertical-align: bottom;
            }
          }
          a {
            display: block;
          }
        }
      }
    }
  }
}
@include for-tablet-portrait-up {
  .servicios .contenido article {
    flex-basis: 33.333333%;
    &:nth-child(2n) {
      border-right: none;
    }
    &:nth-child(3n) {
      border-right: $border;
    }
  }
}
@include for-tablet-landscape-up {
  .servicios .contenido article {
    width: 25%;
    flex-basis: 25%;
    &:nth-child(3n) {
      border-right: none;
    }
    &:nth-child(4n) {
      border-right: $border;
    }
  }
}
@include for-desktop-up {
  .servicios .contenido article {
    width: 20%;
    flex-basis: 20%;
    &:nth-child(4n) {
      border-right: none;
    }
    &:nth-child(5n) {
      border-right: $border;
    }
  }
}
@include for-big-desktop-up {
  .servicios .contenido article {
    width: 16.666666%;
    flex-basis: 16.666666%;
    &:nth-child(5n) {
      border-right: none;
    }
    &:nth-child(6n) {
      border-right: $border;
    }
  }
}
@include for-phone-only {
  .servicios .main {
    .contenido article {
      flex-basis: 100%;
      border-right: $border;
    }
  }
}
