.single-trabajo article {
  padding-top: $pad;
  header {
    padding: 10px $pad 10px;
    .metadatos {
      padding: calc(#{$pad} * 2) calc(#{$pad} * 2) 0;
      border-top: 1px solid $gray-light;
      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      background-color: white;
      .navegacion {
        ul {
          margin-top: $pad;
          margin-bottom: 0;
          font-weight: 100;
          font-size: 1rem;
          li {
            display: inline-block;
            padding-right: .5em;
            padding-left: calc(.5em - 4px);
            border-right: 1px solid $gray-light;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              border-right: none;
            }
          }
        };
      }
      ul, time {
        padding: 0;
        list-style-type: none;
        font-size: .7rem;
        text-transform: uppercase;
        letter-spacing: .03em;
        &.cliente {
          font-weight: 700;
          margin-bottom: 0;
          li {

          }
        }
        &.servicios {
          margin-top: 3px;
          li {
            display: inline;
          }
        }
      }
    }

  }
  .imagen {
    .wp-post-image {
      width: 100%;
      height: auto;
    }
  }
  .entry-content, .noticias, .media, .imagen, .excerpt {
    position: relative;
    padding: 10px $pad;
    width: 100%;
    border-top: 1px solid $gray-light;
  }
  .entry-content, .noticias, .media {
    padding-top: calc(#{$pad} * 2);
    padding-bottom: calc(#{$pad} * 2);
  }
  .excerpt {
    .columna {
      padding: calc(#{$pad} * 2);
      color: $gray-light-semi;
      font-size: 1.5rem;
      font-weight: 100;
      font-style: italic;
    }
  }
  .epigrafe {
    position: absolute;
    top: -1.4em;
    display: inline-block;
    background-color: white;
    padding: 1em 1.2em .8em;
    font-weight: 700;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-left: 1px solid $gray-light;
    border-right: 1px solid $gray-light;
  }
  .noticias {
    margin-top: $pad;
    ul {
      margin-top: 0;
      margin-bottom: $pad;
      padding: $pad calc(#{$pad} * 2);
      list-style-type: none;
      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      li {

      }
    }
    h3 {
      font-size: 2rem;
      font-weight: 100;
      letter-spacing: .03em;
    }
  }
  #media, #noticias {
    display: block;
    padding-top: 200px;
    margin-top: -200px;

  }
}
