.trabajos {
  .main {
    padding: $pad;
    .grande {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-left: $border;
      border-right: $border;
      margin-bottom: $pad;
      @include trabajo;
      .metadatos p {
        color: $gray-dark;
        font-size: .8rem;
      }
    }
    .media {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-left: $border;
      border-right: $border;
      margin-bottom: $pad;
      .medio {
        width: 100%;
        @include trabajo(1rem, .6rem);
        margin-bottom: $pad;
      }
    }
    .poca {
      display: flex;
      flex-wrap: wrap;
      border-left: $border;
      border-right: $border;
      margin-bottom: $pad;
      .poco {
        flex-basis: 100%;
        @include trabajo(1rem, .6rem);
      }
    }
  }
}


@include for-tablet-landscape-up {
  .trabajos {
    .main {
      .grande {
        .metadatos {
          width: 300px;
          h2 {
            a {

            }
          }
        }
        .imagen {
          width: calc(100% - 300px);
          line-height: 0;
          img {
          }
        }
      }
      .media {
        flex-wrap: nowrap;
        .medio {
          margin-bottom: 0;
          padding-left: 15px;
          padding-right: 15px;
          width: 33.333%;
          border-right: $border;
          &:last-child {
            border-right: none;
          }
          .metadatos {
            padding: 15px 0;
          }
        }
      }
      .poca {
        .poco {
          flex-basis: 33.33%;
          padding-left: 15px;
          padding-right: 15px;
          width: 33.333%;
          .metadatos {
            padding: 15px 0;
          }
        }
      }
    }

  }
}
