body {
  font-size       : 18px;
  font-family     : $font-family-base;
  color           : $gray-dark;
  background-color: $gray-lighter;
  &.admin-bar {
    .banner {
      margin-top: 32px !important;
    }
  }
}

a {
  text-decoration: none;
  &:link,
  &:visited {
    color     : $color-azul;
    transition: color 0.3s;
  }
  &:hover {
    color     : $gray-dark;
    transition: color 0.3s;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

p {
  color: $gray-light;
}

// post nav noticias
ul.nav {
  padding-left   : 0;
  list-style-type: none;
  font-size      : 0;
  li {
    display    : inline-block;
    border-left: $border;
    &:last-child {
      border-right: $border;
    }
    a {
      display         : block;
      padding         : 0.6em 0.8em 0.3em;
      background-color: white;
      font-size       : 0.8rem;
      text-transform  : uppercase;
    }
  }
}

// post nav resultado de búsquedas
.nav-links {
  div {
    display    : inline-block;
    border-left: $border;
    &:last-child {
      border-right: $border;
    }
  }
  a {
    display         : block;
    padding         : 0.6em 0.8em 0.3em;
    background-color: white;
    font-size       : 0.8rem;
    text-transform  : uppercase;
  }
}
