// Colors
$color-principal: #C9B01B;
$color-allo: #d2ff1d;
$color-azul: #45acbe;
$color-rojo: #ad0505;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default;
// #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-light-semi: lighten($gray-base, 70%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
//tipos
$font-family-sans-serif: rubik;
$font-family-base: $font-family-sans-serif;
//layout
$pad: 30px;
// border radius
$border-radius-base: 3px;
// border
$border: 1px solid $gray-light;
// responsive breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 1000px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
// usage responsive breakpoints
// .my-box {
//   padding: 10px;
//
//   @include for-desktop-up {
//     padding: 20px;
//   }
// }
@mixin radius($radius) {
  border-radius: $radius;
}
// img
@mixin img-responsive {
  max-width: 100%;
  width    : 100%;
  height   : auto;
}
// trabajos portada trabajos
@mixin trabajo($title-size:1.2rem, $meta-size:.7rem) {
  .metadatos {
    width  : 100%;
    padding: $pad;
    h2 {
      font-weight: 500;
      font-size  : $title-size;
    }
    time,
    ul {
      padding-left   : 0;
      list-style-type: none;
      font-size      : $meta-size;
      text-transform : uppercase;
      letter-spacing : 0.02em;
      margin-top     : 0;
      margin-bottom  : 0;
      li {
        line-height: 1.1em;
      }
      &.cliente {
        font-weight: 700;
      }
    }
  }
  .imagen {
    width      : 100%;
    line-height: 0;
    img {
      @include img-responsive;
    }
  }
}
