@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.s::before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.s-2x { font-size: 2em; }
.s-3x { font-size: 3em; }
.s-4x { font-size: 4em; }
.s-5x { font-size: 5em; }
.s-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.s-buscar-0::before { content: "\EA01" }
.s-buscar-1::before { content: "\EA02" }
.s-buscar-2::before { content: "\EA03" }
.s-cerrar-0::before { content: "\EA04" }
.s-cerrar-1::before { content: "\EA05" }
.s-cerrar-2::before { content: "\EA06" }
.s-contacto-0::before { content: "\EA07" }
.s-contacto-1::before { content: "\EA08" }
.s-contacto-2::before { content: "\EA09" }
.s-facebook-i::before { content: "\EA0A" }
.s-google+-i::before { content: "\EA0B" }
.s-instagram-i::before { content: "\EA0C" }
.s-noticias-0::before { content: "\EA0D" }
.s-twitter-i::before { content: "\EA0F" }
.s-z-der::before { content: "\EA10" }
.s-pinterest-i::before { content: "\EA0E" }
.s-z-izq::before { content: "\EA11" }
